{%extends "layout.html"%}
{%block content%}
<section class="section-features">
    <div class="row">
        <h2>Get sneakers fast &mdash; next day delivery</h2>
        <p class="long-copy">
            We are Rasheed's sneaker store want to give you the service that resembles that of an in person store without the hassle of leaving your bed. By providing our customers with the fastest delivery service. We know you will have your kicks ready to go!
        </p>
    </div>

    <div class="row">
        <div class="col span-1-of-4 box">
            <i class="ion-heart icon-big"> </i>
            <h3> thjkfnselanfe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis mi justo. In lobortis, nibh sit amet dictum ultricies, justo orci rhoncus ipsum, eget porta sapien turpis vitae lectus. Nunc a justo et dui consequat vestibulum. Nunc mauris velit, auctor vel faucibus ac, consequat sed diam. Aenean sodales sit amet diam quis vestibulum. Sed at sollicitudin risus. Sed ut pretium dolor. Maecenas elementum nisl est, non scelerisque sapien hendrerit a. Ut faucibus varius iaculis. Cras non semper ligula. Sed lorem orci, commodo id varius efficitur, porta a mi. Morbi ac rhoncus eros. Sed vitae volutpat nisl. Vivamus augue ante, lacinia a urna et, ultrices luctus augue. Aliquam accumsan urna sed velit porta, vitae accumsan sapien tincidunt. Vestibulum in ornare ipsum.</p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="ion-heart icon-big" > </i>
            <h3> thjkfnselanfe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis mi justo. In lobortis, nibh sit amet dictum ultricies, justo orci rhoncus ipsum, eget porta sapien turpis vitae lectus. Nunc a justo et dui consequat vestibulum. Nunc mauris velit, auctor vel faucibus ac, consequat sed diam. Aenean sodales sit amet diam quis vestibulum. Sed at sollicitudin risus. Sed ut pretium dolor. Maecenas elementum nisl est, non scelerisque sapien hendrerit a. Ut faucibus varius iaculis. Cras non semper ligula. Sed lorem orci, commodo id varius efficitur, porta a mi. Morbi ac rhoncus eros. Sed vitae volutpat nisl. Vivamus augue ante, lacinia a urna et, ultrices luctus augue. Aliquam accumsan urna sed velit porta, vitae accumsan sapien tincidunt. Vestibulum in ornare ipsum.</p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="ion-heart icon-big"> </i>
            <h3> thjkfnselanfe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis mi justo. In lobortis, nibh sit amet dictum ultricies, justo orci rhoncus ipsum, eget porta sapien turpis vitae lectus. Nunc a justo et dui consequat vestibulum. Nunc mauris velit, auctor vel faucibus ac, consequat sed diam. Aenean sodales sit amet diam quis vestibulum. Sed at sollicitudin risus. Sed ut pretium dolor. Maecenas elementum nisl est, non scelerisque sapien hendrerit a. Ut faucibus varius iaculis. Cras non semper ligula. Sed lorem orci, commodo id varius efficitur, porta a mi. Morbi ac rhoncus eros. Sed vitae volutpat nisl. Vivamus augue ante, lacinia a urna et, ultrices luctus augue. Aliquam accumsan urna sed velit porta, vitae accumsan sapien tincidunt. Vestibulum in ornare ipsum.</p>
        </div>
        <div class="col span-1-of-4 box">
            <i class="ion-heart icon-big"> </i>
            <h3> thjkfnselanfe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis mi justo. In lobortis, nibh sit amet dictum ultricies, justo orci rhoncus ipsum, eget porta sapien turpis vitae lectus. Nunc a justo et dui consequat vestibulum. Nunc mauris velit, auctor vel faucibus ac, consequat sed diam. Aenean sodales sit amet diam quis vestibulum. Sed at sollicitudin risus. Sed ut pretium dolor. Maecenas elementum nisl est, non scelerisque sapien hendrerit a. Ut faucibus varius iaculis. Cras non semper ligula. Sed lorem orci, commodo id varius efficitur, porta a mi. Morbi ac rhoncus eros. Sed vitae volutpat nisl. Vivamus augue ante, lacinia a urna et, ultrices luctus augue. Aliquam accumsan urna sed velit porta, vitae accumsan sapien tincidunt. Vestibulum in ornare ipsum.</p>
        </div>
    </div>
</section>
{%endblock%}