{%extends "layout.html"%}
{%block content%}
    <section class="section-sneakers">
        <ul class="sneakers-showcase">
            <li>
                <figure class="sneaker-photo">
                    <img src="/static/resources/img/airdior1high.jpg">
                </figure>
            </li>
            <li>
                <figure class="sneaker-photo">
                    <img src="/static/resources/img/airmaghigh.jpg" alt="airmaghigh">
                </figure>
            </li>
            <li>
                <figure class="sneaker-photo">
                    <img src="/static/resources/img/chunkdunky.jpg" alt="chunkdunky">
                </figure>
            </li>
            <li>
                <figure class="sneaker-photo">
                    <img src="/static/resources/img/jordan1mocha.jpg" alt="jordan1mocha">
                </figure>
            </li>
            <li>
                <figure class="sneaker-photo">
                    <img src="/static/resources/img/jordan3blue.jpg" alt="jordan3blue">
                </figure>
            </li>
        </ul>
        <ul>
            <li>
                <figure class="sneaker-photo">
                    <img src="/static/resources/img/jordan6infrared.jpg" alt="jordan6infrared">
                </figure>
            </li>
            <li>
                <figure class="sneaker-photo">
                    <img src="/static/resources/img/jordanoffwhite.jpg" alt="jordanoffwhite">
                </figure>
            </li>
            <li>
                <figure class="sneaker-photo">
                    <img src="/static/resources/img/nikedunk1.jpg" alt="nikedunk1">
                </figure>
            </li>
            <li>
                <figure class="sneaker-photo">
                    <img src="/static/resources/img/seanwheaterspoon.jpg" alt="seanwheaterspoon">
                </figure>
            </li>
            <li>
                <figure class="sneaker-photo">
                    <img src="/static/resources/img/yeezy1.jpg" alt="yeezy1">
                </figure>
            </li>
        </ul>
    </section>
{%endblock%}